#extendedSignupSubmit {
  width: 50%;
  height: auto;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  background-color: #e31e26;
  border-color: #bb171e;
}

#extendedSignupSubmit:hover {
  background-color: #bb171e;
  border: 1px solid #960c11;
  color: #fff;
  outline: 0;
}

@media(max-width: 767px) {
  #extendedSignupSubmit {
    width: 100%;
  }

  .signup-form {
    width: 95%
  }
}

.signup-form {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  margin: auto;
  max-width: 500px;
  overflow: auto;
  padding: 24px;
}