#editProfileForm .form-group {
  margin-bottom: 24px;
}

#editProfileForm .form-control {
  font-size: 16px;
}

#editProfileForm .form-control-feedback {
  position: absolute !important;
  top: 10px !important;
  right: 20px !important;
}

#editProfileForm #extendedSignupSubmit, #editProfileForm #editCreditCardButton {
  margin-top: 24px;
  width: 100%;
}

@media(max-width: 767px) {
  #editProfileForm #extendedSignupSubmit {
    margin: 0px;
  }
}