#editProfileForm .signup-form-title {
  font-weight: 700 !important;
  font-size: 30px;
  margin-bottom: 24px;
}

#editProfileForm .form-group {
  margin-bottom: 24px;
}

#editProfileForm .form-control {
  font-size: 16px;
}

#editProfileForm .form-control-feedback {
  position: absolute !important;
  top: 10px !important;
  right: 20px !important;
}

#editProfileForm #extendedSignupSubmit, #editProfileForm #editCreditCardButton {
  margin-top: 24px;
  width: 100%;
}

@media(max-width: 767px) {
  #editProfileForm #extendedSignupSubmit {
    margin: 0px;
  }
}

#editCreditCardButton {
  width: 100%;
  height: auto;
  font-size: 18px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  background-color: #e31e26;
  border-color: #bb171e;
}

#editCreditCardButton:hover {
  border: 1px solid #960c11;
  outline: 0;
  color: #fff;
  background-color: #bb171e;
}

@media(min-width: 768px) {
  #editCreditCardButton {
    width: auto;
  }
}