body {
  width: 100%;
  height: 100%;
  font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
  color: #fff;
  background-color: #000;
}

html {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-weight: 700;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

a {
  color: #28c3ab;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

a:hover,
a:focus {
  text-decoration: none !important;
  color: #176e61;
}

.navbar {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255,255,255,.3);
  text-transform: uppercase;
  font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  background-color: #000;
}

.navbar-brand {
  font-weight: 700;
}

.navbar-brand:focus {
  outline: 0;
}

.navbar-custom a,
.navbar-custom a:hover {
  color: #fff;
}

.navbar-custom .nav li a {
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
  outline: 0;
  background-color: rgba(255,255,255,.2);
}

.navbar-toggle {
  padding: 4px 6px;
  font-size: 16px;
  color: #fff;
}

.navbar-toggle:focus,
.navbar-toggle:active {
  outline: 0;
}

@media(min-width:768px) {
  .navbar {
    padding: 20px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  .top-nav-collapse {
    padding: 0;
    background-color: #000;
  }

  .navbar-custom.top-nav-collapse {
    border-bottom: 1px solid rgba(255,255,255,.3);
  }
}

.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid #fff;
  border-radius: 35px;
  font-size: 40px;
  color: #fff;
  background: 0 0;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
  outline: 0;
  color: #fff;
  background: rgba(255,255,255,.1);
}

.page-scroll .btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}

.page-scroll .btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
  0 {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes pulse {    
  0 {
    -moz-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

/*.download-section {
  width: 100%;
  padding: 50px 0;
  color: #fff;
  background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#map {
  width: 100%;
  height: 200px;
  margin-top: 100px;
}

@media(min-width:768px) {
  .download-section {
    padding: 100px 0;
  }

  #map {
    height: 400px;
    margin-top: 250px;
  }
}*/

.btn {
  font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btn-default {
  border: 1px solid #28c3ab;
  color: #28c3ab;
  background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
  border: 1px solid #28c3ab;
  outline: 0;
  color: #000;
  background-color: #28c3ab;
}

.btn-huge {
  padding: 25px;
  font-size: 26px;
}

/*.banner-social-buttons {
  margin-top: 0;
}

@media(max-width:1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}

@media(max-width:767px) {
  ul.banner-social-buttons>li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.banner-social-buttons>li:last-child {
    margin-bottom: 0;
  }
}*/

input::selection {
  text-shadow: none;
  background: #b3d4fd;
}

input::-moz-selection {
  text-shadow: none;
  background: #b3d4fd;
}

::selection {
  background: 0;
}

::-moz-selection {
  background: 0;
}

body {
  webkit-tap-highlight-color: rgba(255,255,255,.2);
}

#logo {
  background-size: 100%;
  width: 65px;
  height: 36px;
}

#logo-top {
  padding: 11px 0 0 15px;
}

@media(min-width:768px) {
  #logo {
    width: 80px;
    height: 45.5px;
  }

  #logo-top {
    padding: 2px 0 0 15px;
  }
}

.text {
  font-size: 23px;
  font-weight: 300;
  font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  margin: 0px 0px 20px;
}

#mce-EMAIL, #emailInput {
  width: 90%;
  height: 48px;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 0.25rem;
}

#mc-embedded-subscribe, #emailSubmit {
  width: 90%;
  height: 48px;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 0.25rem;
  background-color: #e31e26;
  border-color: #bb171e;
}

#emailSubmit:hover{
  border: 1px solid #960c11;
  outline: 0;
  color: #fff;
  background-color: #bb171e;
}

@media(min-width:768px) {
  #mce-EMAIL, #emailInput {
    width: 470px;
    display: inline;
  }

  #mc-embedded-subscribe, #emailSubmit {
    width: auto;
    margin-left: 10px;
  }
}

#mce-responses {
  font-size: 18px;
  font-style: italic;
  padding-top: 5px;
  font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#payment-form .form-control {
  font-size: 16px;
}

#extendedSignup .text-left {
  text-align: left;
}

#extendedSignup .checkbox-format {
  margin: 8px 8px 4px 0px;
  font-size: 20px;
}

.checkbox-error .help-block {
  margin: 0px;
  position: relative !important;
  top: 0 !important;
}

#extendedSignup .form-group {
  margin-bottom: 24px;
}

#extendedSignup .form-control {
  font-size: 16px;
}

#extendedSignup .form-control-feedback {
  position: absolute !important;
  top: 10px !important;
  right: 20px !important;
}

#extendedSignup .checkbox-error .form-control-feedback {
  display:none !important;
}

.nav .open > a {
  background-color: rgba(255,255,255,.2) !important;
}

#extendedSignup .help-block, #editProfileForm .help-block {
  color: #e31e26;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#signup-link {
  display: none;
}

#forgot-password-link {
  display: none;
}