body {
  width: 100%;
  height: 100%;
  font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
  color: #fff;
  background-color: #000;
}

html {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-weight: 700;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

a {
  color: #28c3ab;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #176e61;
}

.navbar {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255,255,255,.3);
  text-transform: uppercase;
  font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  background-color: #000;
}

.navbar-brand {
  font-weight: 700;
}

.navbar-brand:focus {
  outline: 0;
}

.navbar-custom a {
  color: #fff;
}

.navbar-custom a:hover {
  color: #fff;
}

.navbar-custom .nav li a {
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
  outline: 0;
  background-color: rgba(255,255,255,.2);
}

.navbar-toggle {
  padding: 4px 6px;
  font-size: 16px;
  color: #fff;
}

.navbar-toggle:focus,
.navbar-toggle:active {
  outline: 0;
}

@media(min-width:768px) {
  .navbar {
    padding: 20px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  .top-nav-collapse {
    padding: 0;
    background-color: #000;
  }

  .navbar-custom.top-nav-collapse {
    border-bottom: 1px solid rgba(255,255,255,.3);
  }
}

.intro {
  background: url(/img/background1.jpg) no-repeat bottom center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  color: #fff;
  display: table;
  font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
  height: 100%;
  width: 100%;
  padding: 100px 0;
  position: relative;
  text-align: center;
}

.intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro-heading {
    font-size: 30px;
    font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    margin: 0 0 0px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    width: 90%;
}

.intro-text {
    font-size: 18px;
    font-weight: 300;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.intro-text-margin {
    margin: 10px 0 10px;
    margin-left: auto;
    margin-right: auto;
}

.divider {
    border-top: 1px solid #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 100px 0 0;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.divider-margin {
    margin: 0 0 100px;
    margin-left: auto;
    margin-right: auto;
}

.join-text {
    font-size: 19px;
    font-weight: 300;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

@media(min-width:768px) {
    .intro-heading {
        font-size: 40px;
    }

    .intro-text {
        font-size: 25px;
    }
    
    .join-text {
        font-size: 20px;
    }

    .divider {
        width: 525px;
    }
}

@media(min-width:650px) and (max-width: 767px) {
    .intro-heading {
        font-size: 35px;
    }

    .intro-divider {
        width: 70%;
    }
}

@media(min-width: 530px) and (max-width: 649px) {
    .intro-divider {
        width: 455px;
    }
}

@media(min-width: 481px) and (max-width: 767px) {
   .intro-text {
        font-size: 20px;
    }

    .join-text {
        font-size: 20px;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 35px;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.page-scroll .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.page-scroll .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.hiw-section {
    background: url(../img/background2.jpg) no-repeat center center scroll;
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    display: table;
    font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 100%;
    width: 100%;
    padding: 75px 0 100px;
    position: relative;
}

.hiw-heading-margin {
    margin: 0 0 0px;
    margin-left: auto;
    margin-right: auto;
}

#hiw-icons {
  background-size: 100%;
  margin: 50px 0 25px;
  width: 150px;
  height: 150px;
}

@media(min-width:1200px) {
    #hiw-icons {
        width: 200px;
        height: 200px;
    }
}

@media(min-width:992px) and (max-width:1199px) {
    #hiw-icons {
        width: 175px;
        height: 175px;
    }
}

@media(min-width:768px) {
    .hiw-heading-margin {
        margin: 0 0 75px;
        margin-left: auto;
        margin-right: auto;
    }

    #hiw-icons {
        margin: 0 0 50px;
    }
}

.icon-heading {
    font-size: 20px;
    font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.icon-text {
    font-size: 18px;
    font-weight: 300;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
    margin: 0 0 0px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.about-section {
    background: url(../img/background3.jpg) no-repeat center center scroll;
    background-color: #000;
    color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    display: table;
    font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 100%;
    width: 100%;
    padding: 100px 0;
    position: relative;
}

.about-margin {
    margin: 0 0 50px;
    margin-left: auto;
    margin-right: auto;
}

@media(min-width:768px) and (max-width:991px) {
    .about-text-font {
        font-size: 23px;
    }
}

@media(max-width:767px) {
    .about-text-margin {
        margin: 0 0 50px;
        margin-left: auto;
        margin-right: auto;
    }
}

/*.download-section {
  width: 100%;
  padding: 50px 0;
  color: #fff;
  background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#map {
  width: 100%;
  height: 200px;
  margin-top: 100px;
}

@media(min-width:768px) {
  .download-section {
    padding: 100px 0;
  }

  #map {
    height: 400px;
    margin-top: 250px;
  }
}*/

.btn {
    font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #28c3ab;
    color: #28c3ab;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #28c3ab;
    outline: 0;
    color: #000;
    background-color: #28c3ab;
}

.btn-huge {
    padding: 25px;
    font-size: 26px;
}

/*.banner-social-buttons {
  margin-top: 0;
}

@media(max-width:1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}

@media(max-width:767px) {
  ul.banner-social-buttons>li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.banner-social-buttons>li:last-child {
    margin-bottom: 0;
  }
}*/

::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255,255,255,.2);
}

::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255,255,255,.2);
}

img::selection {
  background: 0 0;
}

img::-moz-selection {
  background: 0 0;
}

body {
  webkit-tap-highlight-color: rgba(255,255,255,.2);
}

#logo {
  background-size: 100%;
  width: 65px;
  height: 36px;
}

#logo-top {
  padding: 11px 0 0 15px;
}

@media(min-width:768px) {
  #logo {
    width: 80px;
    height: 45.5px;
  }

  #logo-top {
    padding: 2px 0 0 15px;
  }
}

.text {
  font-size: 23px;
  font-weight: 300;
  font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  margin: 0px 0px 20px;
}

#mce-EMAIL, #emailInput {
  width: 90%;
  height: 48px;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 0.25rem;
}

#mc-embedded-subscribe, #emailSubmit {
  width: 90%;
  height: 48px;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 0.25rem;
  background-color: #e31e26;
  border-color: #bb171e;
}

#emailSubmit:hover{
  border: 1px solid #960c11;
  outline: 0;
  color: #fff;
  background-color: #bb171e;
}

@media(min-width:768px) {
  #mce-EMAIL, #emailInput {
    width: 470px;
    display: inline;
  }

  #mc-embedded-subscribe, #emailSubmit {
    width: auto;
    margin-left: 10px;
  }
}

#mce-responses {
  font-size: 18px;
  font-style: italic;
  padding-top: 5px;
  font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.credit-card-form {
  background-color:rgba(0, 0, 0, 0.4);
  padding:12px;
  max-width:767px;
  margin:auto;
  border-radius:12px;
  padding:48px;
  overflow:auto;
}

.credit-card-form p {
  font-size:16px;
}

.credit-card-form .form-group {
  padding-left:2px;
  padding-right:2px;
  margin-bottom:32px;
}

.credit-card-form #payment-errors {
}

.signup-form {
  background-color:rgba(0, 0, 0, 0.4);
  padding:12px;
  max-width:500px;
  margin:auto;
  border-radius:12px;
  padding:24px;
  overflow:auto;
}

.signup-form-title {
  font-weight: 700 !important;
  margin-bottom: 24px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);

}

#extendedSignup .text-left {
  text-align: left;
}

#extendedSignup .form-group {
  margin-bottom: 24px;
}

#extendedSignup .form-control {
  font-size: 16px;
}

#extendedSignup .form-control-feedback {
  position: absolute !important;
  top: 10px !important;
  right: 20px !important;
}

.login-wrapper {
  padding: 15px;
}

#extendedSignup .help-block {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media(max-width: 767px) {
  #extendedSignupThankYou #homeButton {
    width: 90%;
  }
}

#extendedSignupThankYou .intro-text {
  margin-top: 10px;
  width: auto;
}

@media(max-width: 767px) {
  #extendedSignupThankYou .intro-heading {
    font-size: 25px;
  }
}

#extendedSignup #extendedSignupSubmit {
  margin-top: 0px;
}

#extendedSignupSubmit, #saveButton, #homeButton {
  width: 100%;
  height: auto;
  font-size: 18px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  background-color: #e31e26;
  border-color: #bb171e;
}

#extendedSignupSubmit:hover,
#saveButton:hover,
#homeButton:hover {
  border: 1px solid #960c11;
  outline: 0;
  color: #fff;
  background-color: #bb171e;
}

@media(min-width: 768px) {
  #extendedSignupSubmit, #saveButton, #homeButton {
    width: auto;
  }
}

#signup-link {
  display: none;
}

#forgot-password-link {
  display: none;
}

.footer-link {
  cursor: pointer;
}

#footer {
  background-color: #000;
  height: 50px;
  width: 100%;
  padding: 10px;
  text-align: center;
  display: table;
  font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
}

#footer a {
  color: #999;
  text-decoration: none;
}

#copyright {
  color: #999;
  font-size: 15px;
  margin: 0px;
  text-align: center;
}

.social-media-icons {
  color: #fff;
  font-size: 27px;
  text-align: center;
  text-decoration: none !important;
  margin:0 5px 0;
}

.social-media-icons:hover {
  color: #e31e26;
}

@media(min-width:768px) {
  #copyright {
    text-align: left;
  }
}

@media(min-width:992px) {
  .terms-text-align {
    text-align: right;
    margin: 0px;
  }

  .social-media-icons {
    margin: 0 10px 0;
    text-align: center;
  }
}

.terms-heading-margin {
  margin: 0 0 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.terms-text {
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  margin: 10px 0 0;
}

.terms-background {
  background-color: rgba(0, 0, 0, 0.4);
  margin: auto;
  border-radius: 12px;
  padding: 15px;
  width: 90%
}

.terms-h2 h2 {
  font-size: 21px;
  font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  margin: 20px 0 10px;
  text-align: left;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  width: 90%;
}

@media(min-width:768px) {
  .terms-heading-margin {
    margin: 0 0 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .terms-text {
    font-size: 18px;
  }

  .terms-background {
    padding: 50px;
  }

  .terms-h2 h2 {
    font-size: 30px;
  }
}

.fa-icon-large {
  font-size: 10em;
}