<template name="buildingCreate">
  <!--section class="intro">    
    <div class="intro-body">
      <div class="container">
        <div class="row"-->
          <form role="form" id="buildingCreate" class="signup-form">
            <h1 class="signup-form-title">Add Buildings</h1>
            <input type="text" class="form-control margin-adjust-25" name="name" placeholder="Company Name">
            <input type="text" class="form-control margin-adjust-25" name="address" placeholder="Address">
            <input type="text" class="form-control margin-adjust-25" name="floor" placeholder="Floor">
            <input type="submit" value="Save" name="buildingSubmit" id="buildingSubmit" class="btn btn-primary margin-adjust-25">
          </form>
        <!--/div>
      </div>
    </div>
  </section-->
</template>