<template name="buildingCreate">
  <section class="intro">    
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <form role="form" id="buildingCreate" class="signup-form">
            <h1 class="intro-heading margin-adjust-25">Add Buildings</h1>
            <input type="text" class="form-control margin-adjust-25" name="companyName" placeholder="Company Name">
            <input type="text" class="form-control margin-adjust-25" name="address" placeholder="Address">
            <input type="text" class="form-control margin-adjust-25" name="floor" placeholder="Floor">
            <input type="submit" value="Save" name="extendedSignupSubmit" id="extendedSignupSubmit" class="btn btn-primary">
          </form>
        </div>
      </div>
    </div>
  </section>
</template>