<template name="terms">
  {{> header}}
  <section id="terms" class="intro">
    <div class="intro-body container">
      <div class="row">
        <div class="terms-text terms-background">
          <h1 class="intro-heading terms-heading-margin">Terms and Conditions</h1>
          <ol>
            <li><p>When you opt-in to the service, we will send you an SMS message to confirm your signup.</p></li>
            <li><p>You can cancel the SMS service at any time. Just text <b>"STOP"</b> to Number: 647-448-8843. After you send the SMS message <b>"STOP"</b> to us, we will send you an SMS message to confirm that you have been unsubscribed. After this, you will no longer receive SMS messages from us.</p></li>
            <li><p>If you want to join again, just sign up as you did the first time and we will start sending SMS messages to you again.</p></li>
            <li><p>If at any time you forget what keywords are supported, just text <b>"HELP"</b> to Number: 647-448-8843. After you send the SMS message <b>"HELP"</b> to us, we will respond with instructions on how to use our service as well as how to unsubscribe.</p></li>
            <li><p>As always, message and data rates may apply for any messages sent to you from us and to us from you. If you have any questions about your text plan or data plan, it is best to contact your wireless provider.</p></li>
            <li><p>For all questions about the services provided by this short code, you can send an email to support@omgob.com.</p></li>
            <li><p>If you have any questions regarding privacy, please read our messaging privacy policy.</p></li>
          </ol>
        </div>
      </div>
    </div>
  </section>
</template>